/* H5P Core Styles */
.h5p-semi-transparent {
  opacity: 0.65;
}

.h5p-hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  display: none;
}

.h5p-content {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 2px;
  max-width: 10%;
  word-wrap: break-word;
}

.h5p-content .h5p-thumbnail {
  float: right;
  margin: 0 0 1em 1em;
  width: 120px;
  max-width: 10%;
  border: 1px solid #eee;
}

.h5p-fullscreen .h5p-container {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: 1040;
  overflow: auto;
}

.h5p-content.h5p-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  z-index: 1040;
  background: #fff;
}

.h5p-container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: visible;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.h5p-noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.h5p-pointer {
  cursor: pointer;
}

.h5p-center {
  text-align: center;
}

.h5p-left {
  text-align: left;
}

.h5p-right {
  text-align: right;
}

.h5p-float-left {
  float: left;
  margin: 0.5em 1em 0.5em 0;
}

.h5p-float-right {
  float: right;
  margin: 0.5em 0 0.5em 1em;
}

.h5p-shadow {
  -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
}

.h5p-outset {
  border: 1px solid #fff;
  -webkit-box-shadow: inset 0 0 4px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0 4px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 4px 1px rgba(0, 0, 0, 0.2);
}

.h5p-inset {
  border: 1px solid #ddd;
  -webkit-box-shadow: inset 0 0 4px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0 4px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 4px 1px rgba(0, 0, 0, 0.2);
}

.h5p-standalone.h5p-fullscreen {
  border: none;
  border-radius: 0;
  overflow: hidden;
}

.h5p-standalone.h5p-fullscreen .h5p-container {
  border-radius: 0;
}

.h5p-iframe-wrapper {
  background: #fff;
  position: relative;
  border: 1px solid #ddd;
  border-radius: 2px;
}

.h5p-iframe-wrapper.h5p-fullscreen {
  border: none;
}

.h5p-iframe-wrapper > .h5p-more {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.25em;
 background: #fff;
  border: 1px solid #ddd;
  border-top: none;
  border-right: none;
  border-radius: 0 0 0 2px;
  font-size: 1.5em;
  font-weight: bold;
  z-index: 20;
  cursor: pointer;
  display: none;
}

.h5p-iframe-wrapper > .h5p-fullscreen,
.h5p-iframe-wrapper > .h5p-download {
  position: absolute;
  top: 0.25em;
 right: 0.25em;
  padding: 0.25em;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 0.15em;
  font-size: 1.5em;
  z-index: 20;
  cursor: pointer;
  display: none;
}

.h5p-fullscreen .h5p-fullscreen,
.h5p-fullscreen .h5p-download {
  display: none !important;
}

.h5p-iframe-wrapper.h5p-has-fullscreen > .h5p-more {
  display: block;
}

.h5p-iframe-wrapper.h5p-has-frame > .h5p-fullscreen,
.h5p-iframe-wrapper.h5p-has-download > .h5p-download {
  display: block;
}

.h5p-iframe-wrapper.h5p-has-frame > .h5p-fullscreen {
  right: 1.8em;
}

.h5p-iframe-wrapper.h5p-has-frame.h5p-has-download > .h5p-fullscreen {
  right: 3.5em;
}

.h5p-iframe-wrapper iframe {
  border: none;
}

.h5p-content-script {
  position: relative;
  width: 100%;
  height: auto;
  overflow: visible;
}

.h5p-fullscreen .h5p-content-script {
  width: 100%;
  height: 100%;
}

.h5p-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(255, 255, 255, 0.5);
}

.h5p-big-button {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -2.5em 0 0 -5em;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  border: none;
  background: #fff;
  box-shadow: 0 0 0.5em rgba(0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s;
}

.h5p-big-button:focus,
.h5p-big-button:hover {
  transform: scale(1.05);
  outline: 2px solid #2c292d;
  outline-offset: 0.2em;
}

.h5p-big-button span {
  font: bold 3em sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #525252;
}

.h5p-content-evaluated .h5p-big-button {
  display: none;
}

.h5p-disable-future-answers {
  opacity: 0.65;
}

.h5p-question-video {
  position: relative;
  display: inline-block;
  margin: 0 auto;
}

.h5p-question-video .h5p-big-button {
  margin: -2.5em 0 0 -5em;
}

.h5p-joubelui .h5p-bubble {
  position: relative;
  display: inline-block;
  padding: 0.8em 1.8em;
  border-radius: 2em;
  background: #333;
  color: #fff;
  font-size: 0.9em;
  min-width: 0;
  line-height: 1.3;
}

.h5p-joubelui .h5p-bubble:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 0.8em solid transparent;
  border-right: 0.8em solid transparent;
  border-top: 0.8em solid #333;
  margin-left: -0.8em;
}

.h5p-joubelui .h5p-bubble.h5p-bubble-pointer-down {
  margin: 0 0 1.5em;
}

.h5p-joubelui .h5p-bubble.h5p-bubble-pointer-down:before {
  top: auto;
  bottom: 100%;
  border-top-color: transparent;
  border-bottom: 0.8em solid #333;
}

.h5p-joubelui .h5p-bubble.h5p-bubble-pointer-down:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 0.7em solid transparent;
  border-right: 0.7em solid transparent;
  border-top: 0.7em solid #333;
  margin-left: -0.7em;
}

.h5p-joubelui .h5p-bubble.h5p-bubble-auto-width {
  display: block;
  width: 10%;
  padding: 0.8em 1.8em;
  text-align: left;
  border-radius: 0.3em;
 min-width: 10em;
  max-width: 20em;
}

.h5p-joubelui .h5p-bubble.h5p-bubble-auto-width:before {
  left: 2em;
  margin-left: 0;
}

.h5p-joubelui .h5p-bubble.h5p-bubble-auto-width.h5p-bubble-pointer-down:before {
  left: 2em;
}

.h5p-joubelui .h5p-bubble.h5p-bubble-center {
  margin-left: -50%;
}

.h5p-joubelui .h5p-bubble.h5p-bubble-center:before {
  left: 50%;
}

.h5p-joubelui .h5p-bubble.h5p-bubble-right {
  float: right;
}

.h5p-joubelui .h5p-bubble.h5p-bubble-right:before {
  left: auto;
  right: 2em;
  margin-left: 0;
}

.h5p-joubelui .h5p-bubble.h5p-bubble-right.h5p-bubble-pointer-down:after {
  left: auto;
  right: 2em;
}

.h5p-table-overflow {
  overflow-x: auto;
}

.h5p-table-overflow table {
  margin: 0;
}

.h5p-table-overflow table th,
.h5p-table-overflow table td {
  white-space: nowrap;
}

.h5p-audio-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  background: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 10px 0;
}

.h5p-audio-controls input[type="range"] {
  width: 100%;
  max-width: 200px;
}

.h5p-audio-controls button {
  background: #007cba;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.h5p-audio-controls button:hover {
  background: #005a87;
}